Miscellaneous headers

From this list, ignoring headers listed in other issues, we have a number of miscellaneous headers defined in various RFCs.  http://www.iana.org/assignments/message-headers/message-headers.xhtml

Body		                none	reserved	[RFC6068]
Archived-At		        mail	standard	[RFC5064]
Authentication-Results		mail	standard	[RFC7601]
Auto-Submitted		        mail	standard	[RFC3834 section 5]
DKIM-Signature		mail	standard	[RFC6376]
MT-Priority		mail	standard	[RFC6758]
Organization		mail	informational	[RFC7681]
Original-From		mail	standard	[RFC5703]
Original-Recipient	perm/original-recipient	mail	standard	[RFC3798][RFC5337]
Original-Subject		mail	standard	[RFC5703]
Received-SPF		mail	standard	[RFC7208]
Require-Recipient-Valid-Since		mail	standard	[RFC7293]
Solicitation		mail		[RFC3865]
VBR-Info		mail	standard	[RFC5518]

