RFC 6857 (obs 5504, others) re Downgraded headers

Some of the "Downgraded" headers are still standardized, according to 
http://www.iana.org/assignments/message-headers/message-headers.xhtml

Downgraded-Final-Recipient		mail	standard	[RFC6857 Section 3.1.10]
Downgraded-In-Reply-To		mail	standard	[RFC6857 Section 3.1.10]
Downgraded-Message-Id		mail	standard	[RFC6857 Section 3.1.10]
Downgraded-Original-Recipient	mail	standard	[RFC6857 Section 3.1.10]
Downgraded-References		mail	standard	[RFC6857 Section 3.1.10]